.multijson

  &__item
    padding-top 2px
    padding-bottom 2px
    padding-left 2%
    padding-right 2%

  &__data

    &__label
      font-size 13px
      background-color darken($main-txt-color, 80)
      padding-top 2px
      padding-bottom 2px
      padding-left 5%
      padding-right 5%
      text-align center
      width 30%
      float left

    &__value
      font-size 15px
      display inline-block
      text-align center
      width 30%

    &__time
      font-size 13px
      color darken($main-txt-color, 20)
      display inline-block
      text-align center
      width 40%
      float right
